<section class="comments_list">
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
</section>