<section class="comments_list">
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
    <article xlu-include-file="comment.html"></article>
</section>