<head>
  <meta charset="UTF-8">
  <title>Comments list</title>
  <script src="../../js/xlu-include-file.js" defer></script>
  <link rel="stylesheet" href="../css/comment.css">
  <link rel="stylesheet" href="../css/comments_list.css">
</head>
<section class="comments_list">
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
    <article xlu-include-file="../../templates/html/comment.html"></article>
</section>