<div id="event-form-title">
    <h1>Lorem Ipsum</h1>
    <hr>
    <button id="test-button">Lorem</button>
</div>
<div id="event-form-container">
    <form method="POST" action="">
        <div id="left-side" class="form-side">
            <label>
                Lorem Ipsum
                <input id="event-name" name="event-name" type="text" required>
            </label>
            <label>
                Lorem Ipsum
                <input type="date" name="event-date" id="event-date" required>
            </label>
            <label>
                Lorem Ipsum
                <input type="number" step="0.01" name="event-price" id="event-price" value="0">
            </label>
            <div id="privacy-container">
                <label for="is-private">Lorem Ipsum</label>
                <input type="checkbox" name="is-private" id="is-private">
            </div>
            <label>
                Lorem Ipsum
                <input id="members-select" list="members" placeholder="Select Members" />
            </label>
            <datalist id="members">
                <option value="Lorem Ipsum">
                <option value="Lorem">
                <option value="Ipsum">
                <option value="LoremIpsum">
            </datalist>
            <div id="user-list-container" xlu-include-file="../../templates/html/members_list.html"></div>
        </div>
        <div id="right-side" class="form-side">
            <label>
                Lorem Ipsum
                <textarea rows="8" id="event-description" name="event-description"></textarea>
            </label>
            <label>
                Lorem Ipsum
                <input id="event-tags" name="event-tags" type="text">
            </label>
            <section id="tags-container">
                <article xlu-include-file="../../templates/html/interactive_tag.html"></article>
            </section>
            <button id="submit_button" type="submit">Lorem Ipsum</button>
        </div>
    </form>
</div>