<div class="event-card-title">
    <p><strong>Lorem Ipsum</strong> > <span class="event-description">Lorem ipsum dolor sit amet, consectetur...</span>
    </p>
</div>
<div class="event-card-info">
    <div class="event-members">
        <p class="participants">+99</p>
        <div class="participants-icon-container">
            <img src="/assets/images/participants_icon.svg" alt="Participants icon" class="eventcard-img">
            <p>participants</p>
        </div>
        <hr>
    </div>
    <div class="time-location">
        <p class="event-time">
            <img src="../../../assets/images/clock_icon.svg" alt="Time icon" class="eventcard-img">
            Lorem Ipsum, Lorem Ipsum
        </p>
        <p class="event-location">
            <img src="../../../assets/images/location_icon.svg" alt="Location icon" class="eventcard-img">
            Lorem Ipsum
        </p>
    </div>
</div>
