<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events Side Bar</title>
  <link rel="stylesheet" href="../css/eventssidebar.css">
</head>
<body>
<div class="content-container">
  <div class="search-container">
    <div class="search-box">
      <img src="/src/search_icon.svg" alt="Search icon" class="logo">
      <input type="text" placeholder="Lorem Ipsum">
    </div>
    <div class="result-box"></div>
    <hr>
  </div>
  <div class="tags">
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
    <p>Lorem Ipsum</p>
  </div>
</div>
</body>
</html>
