<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Event Card - Profile</title>
    <link rel="stylesheet" href="../css/eventcardprofile.css">
</head>
<body>
<article class="event-card">
    <section class="event-image"></section>
    <p><strong>Lorem Ipsum</strong> > <span class="event-description">Lorem ipsum dolor sit amet, consectetur...</span></p>
    <div class="event-info">
        <p class="participants"> +99</p>
        <div class="participants-container">
            <img src="/assets/images/participants_icon.svg" alt="Participants icon">
            <p> participants</p>
        </div>
        <hr>
        <div class="time-location">
            <p class="event-time">
                <img src="../../../assets/images/clock_icon.svg" alt="Time icon">
                Lorem Ipsum, Lorem Ipsum
            </p>
            <p class="event-location">
                <img src="../../../assets/images/location_icon.svg" alt="Location icon">
                Lorem Ipsum
            </p>
        </div>
    </div>
</article>

</body>
</html>