<header class="card-header">
    <div class="title-section">
        <h2 class="main-title"></h2>
        <span class="subtitle-separator">&gt;</span>
        <span class="subtitle"></span>
    </div>
    <div class="action-buttons">
        <button class="icon-button"><img src="../../../assets/images/report_icon.svg" alt="Flag" class="icon"></button>
        <button class="icon-button"><img src="../../../assets/images/share_icon.svg" alt="Share" class="icon"></button>
    </div>
</header>
<div class="card-body">
    <hr>
    <div class="card-content">
        <section class="description-section">
            <h3 class="section-title">Description</h3>
            <p class="description-text"></p>
        </section>
        <section class="info-section">
            <article class="info-item">
                <img src="../../../assets/images/clock_icon.svg" alt="Time" class="info-icon clock-icon">
                <span class="info-text event-time"></span>
            </article>
            <article class="info-item">
                <img src="../../../assets/images/location_icon.svg" alt="Location" class="info-icon">
                <span class="info-text event-place"></span>
            </article>
            <article class="info-item">
                <img src="../../../assets/images/money_icon.svg" alt="Price" class="info-icon">
                <span class="info-text event-price"></span>
            </article>
            <div class="participants-section">
                <a class="participants-item" href="event_members.html">
                    <span class="participants-count" number-participants="0"></span>
                    <img src="../../../assets/images/participants_icon.svg" alt="Participants" class="participants-icon">
                </a>
                <span class="participants-label"></span>
                <button class="action-button"></button>
            </div>
        </section>
    </div>
    <hr>
    <div class="tags-section"></div>
    <hr>
    <h3>Comments</h3>
    <section class="comments_list"></section>
    <div class="message-input-container"></div>
    <hr>
</div>
<footer class="card-footer">
    <div class="statistics">
        <div class="count-item">
            <span class="count likes-count" number-likes="0"></span>
            <button class="icon-button like-button">
                <img src="../../../assets/images/heart_icon.svg" alt="Likes" class="count-icon like-icon">
            </button>
        </div>
    </div>
    <div class="footer-center">
        <a href="../../pages/html/events.html" class="see-less-button"></a>
    </div>
</footer>