    <div class="feature-info-figure">
        <img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*" alt="lorem" class="feauture-info-img">
    </div>
    <p class="feature-title">Lorem ipsum</p>
    <p class="feature-info-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque autem beatae commodi consectetur, deleniti dolores enim est,
        id iure neque non quibusdam quis ratione recusandae saepe sit unde vitae?
    </p>