<div class="footer">
    <div class="footer-top">
        <ul class="icons">
            <li>
                <a href="https://www.facebook.com/profile.php?id=61574551471387" target="_blank" class="fb-icon">
                    <img class="icon" src="../../../assets/images/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/joinup_enterprise" target="_blank" class="ig-icon">
                    <img class="icon" src="../../../assets/images/instagram.svg" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/mohamedOharoun/PWM_44.3" target="_blank" class="gh-icon">
                    <img class="icon" src="../../../assets/images/github.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="li-icon">
                    <img class="icon" src="../../../assets/images/linkedin.svg" alt="">
                </a>
            </li>
        </ul>

        <ul class="others">
            <li>
                <a class="button" href="../../pages/html/privacy_policy_page.html">Privacy Policy</a>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <a class="button" href="mailto:joinup.enterprise@gmail.com">Contact</a>
            </li>
        </ul>
    </div>

    <ul class="copyright">
        <li>&copy; Copyright 2025 JoinUp! Enterprise. All rights reserved.</li>
    </ul>
</div>
