<img src="../../../assets/images/logo.svg" width="50" height="50" alt="">
<nav>
    <ul>
        <li><a target=_self href="../../pages/html/home_page.html">Home</a></li>
        <li><a target=_self href="../../pages/html/events_explore.html">Events</a></li>
        <li><a target=_self href="../../pages/html/social_friends.html">Social</a></li>
        <li><a target=_self href="../../pages/html/chat.html">Messages</a></li>
    </ul>
</nav>
<div id="page_header_buttons">
    <a href="../../pages/html/sign_up.html">
        <button id="log_button">Lorem Ipsum</button>
    </a>
    <a id="profile_button" target=_self href="../../pages/html/profile_page_self.html">
        <img src="../../../assets/images/user_icon.svg" width="30px" height="30px">
    </a>
</div>
