<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
<header>
    <img src="../../../assets/images/logo.svg" width="50" height="50" alt="">
    <nav>
        <ul>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
        </ul>
    </nav>
    <button class="custom-button">Lorem Ipsum</button>
</header>
</body>
</html>
