<section id="members_list_section">
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
  <article xlu-include-file="../../templates/html/user.html"></article>
</section>