<header id="profile-header">
    <h1>Lorem Ipsum</h1>
    <hr>
</header>
<div id="profile-body">
    <div class="profile-content">
        <div class="profile-avatar">
            <img src="../../../assets/images/userprofile_icon.svg" alt="Profile Image" class="profile-image">
        </div>
        <div class="profile-info">
            <label>
                Lorem ipsum
                <input type="text" placeholder="Lorem ipsum" readonly>
            </label>
            <label>
                Lorem ipsum
                <input type="text" placeholder="Lorem ipsum" readonly>
            </label>
            <label>
                Lorem ipsum
                <input type="text" placeholder="Lorem ipsum" readonly>
            </label>
        </div>
    </div>
    <div class="profile-description">
        <label>
            Lorem ipsum
            <textarea readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla...</textarea>
        </label>
    </div>
    <section class="events-section">
        <details>
            <summary>Lorem Ipsum</summary>
            <div class="summary-content">
                <article class="event-card" xlu-include-file="../../templates/html/event_card_profile.html"></article>
                <article class="event-card" xlu-include-file="../../templates/html/event_card_profile.html"></article>
                <article class="event-card" xlu-include-file="../../templates/html/event_card_profile.html"></article>
            </div>
        </details>
    </section>
    <section class="events-section">
        <details>
            <summary>Lorem Ipsum</summary>
            <div class="summary-content">
                <article class="event-card" xlu-include-file="../../templates/html/event_card_profile.html"></article>
                <article class="event-card" xlu-include-file="../../templates/html/event_card_profile.html"></article>
                <article class="event-card" xlu-include-file="../../templates/html/event_card_profile.html"></article>
            </div>
        </details>
    </section>
</div>