<header id="profile-header">
    <div id="profile-title-container">
        <h1 id="profile-title"></h1>
        <div id="profile-utils-icons">
        </div>
    </div>
    <hr>
</header>
<div id="profile-body">
    <div id="profile-content">
        <div id="upload-photo-container" class="drop-area">
            <div id="uploaded-img-container">
                <img id="uploaded-img" src="../../../assets/images/userprofile_icon.svg" alt="Profile Image">
            </div>
            <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)" style="display: none;">
            <label for="fileElem" class="upload-label" style="display: none;">Upload photo</label>
        </div>
        <div id="profile-info">
            <label id="user-full-name">
                <input class="animated-input" type="text" readonly>
            </label>
            <label id="user-name">
                <input class="animated-input" type="text" readonly>
            </label>
            <label id="user-email">
                <input class="animated-input" type="text" readonly>
            </label>
        </div>
    </div>
    <div id="profile-description-container">
        <label id="description">
            Lorem ipsum
            <textarea class="animated-input" readonly></textarea>
        </label>
    </div>
    <div id="events-sections-container">
        <section class="events-section" id=user-events-section">
            <details>
                <summary id="user-events"></summary>
                <div id="user-events-content" class="summary-content">
                </div>
            </details>
        </section>
        <section class="events-section" id="shared-events-section">
            <details>
                <summary id="shared-events"></summary>
                <div id="shared-events-content" class="summary-content">
                </div>
            </details>
        </section>
    </div>
</div>