 <header class="card-header">
        <div class="title-section">
            <h2 class="main-title">Lorem Ipsum</h2>
            <span class="subtitle-separator">&gt;</span>
            <span class="subtitle">Lorem Ipsum</span>
        </div>
        <div class="action-buttons">
            <button class="icon-button">
                <img src="../../../assets/images/report_icon.svg" alt="Flag" class="icon">
            </button>
            <button class="icon-button">
                <img src="../../../assets/images/share_icon.svg" alt="Share" class="icon">
            </button>
        </div>
    </header>

    <hr>

    <main class="card-content">
        <section class="description-section">
            <h3 class="section-title">Lorem</h3>
            <p class="description-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla...
            </p>
        </section>

        <section class="info-section">
            <div class="info-item">
                <img src="../../../assets/images/clock_icon.svg" alt="Time" class="info-icon clock-icon">
                <span class="info-text">21:00 Mon 14, July 2025</span>
            </div>
            <div class="info-item">
                <img src="../../../assets/images/location_icon.svg" alt="Location" class="info-icon">
                <span class="info-text">Lorem Ipsum</span>
            </div>
            <div class="info-item">
                <img src="../../../assets/images/money_icon.svg" alt="Price" class="info-icon">
                <span class="info-text">Lorem Ipsum</span>
            </div>
        </section>
    </main>
    <hr class="short-separator">
    <div class="tags-section">
        <span xlu-include-file="../../templates/html/tag.html"></span>
        <span xlu-include-file="../../templates/html/tag.html"></span>
        <span xlu-include-file="../../templates/html/tag.html"></span>
        <span xlu-include-file="../../templates/html/tag.html"></span>
        <span class="more-indicator">...</span>
    </div>

    <hr class="short-separator">

    <div class="card-footer">
            <div class="statistics">
                <div class="count-item">
                    <span class="count">999K</span>
                    <button class="icon-button">
                        <img src="../../../assets/images/heart_icon.svg" alt="Likes" class="count-icon like-icon">
                    </button>
                </div>
                <div class="count-item">
                    <span class="count">999K</span>
                    <button class="icon-button">
                        <img src="../../../assets/images/square_message_icon.svg" alt="Comments" class="count-icon">
                    </button>
                </div>
            </div>

            <div class="footer-center">
                <button class="see-more-button">LOREM IPS</button>
            </div>

        <div class="participants-section">
            <div class="participants-item">
                <span class="participants-count">+99</span>
                <img src="../../../assets/images/participants_icon.svg" alt="Participants" class="participants-icon">
            </div>
            <span class="participants-label">loremipsum</span>
            <button class="action-button">Lorem</button>
        </div>
    </div>