<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password circle</title>
  <link rel="stylesheet" href="../css/resetpassword.css">
</head>
<body>

<section class="circle-container">
  <h1>Lorem Ipsum</h1>

  <p class="info">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    Aenean commodo ligula eget dolor. Aenean massa.</p>
  <label>
    <input type="email" placeholder="loremipsum@loremipsum.com">
  </label>

  <button class="btn-send">LOREM</button>

  <p class="message">
    Lorem <a href="#" class="custom_link"><strong>Ipsum</strong> </a> dolor.
  </p>
</section>

</body>
</html>
