<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password circle</title>
  <link rel="stylesheet" href="../css/resetpassword.css">
</head>
<body>

<section class="circle-container">
  <h1>Reset password</h1>

  <p class="info">Enter the email address you used to create your account.
    We will send you instructions to reset your password.</p>
  <label>
    <input type="email" placeholder="joinup@gmail.com">
  </label>

  <button class="btn-send">SEND</button>

  <p class="message">
    Try <a href="#"><strong> signing in</strong> </a> again.
  </p>
</section>

</body>
</html>
