<div class="sign-up-inputs-container" id="sign-up-fourth-input-container">
    <label>
        <input type="checkbox" name="terms" class="terms">
        <span id="first-text">
        </span>
    </label>
    <label>
        <input type="checkbox" name="terms" class="terms">
        <span id="second-text">
        </span>
    </label>
</div>
<div id="buttons-container">
    <button class="sign-up-previous-step-button" id="previous-step-button"><a href="sign_up_third_step_page.html"></a></button>
    <button class="sign-up-next-step-button" id="next-step-button"><a href="home_page.html"></a></button>
</div>