<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload Profile Photo</title>
        <link rel="stylesheet" href="../css/signupform.css">
    </head>
    <body>
        <img src="/assets/images/userprofile_icon.svg" alt="User Photo" id="profilephoto">
        <input type="file" id="fileInput" name="imagen" class="file-input">

        <div class = "container">
            <img src="/assets/images/upload_icon.svg" alt="Upload Photo" id="uploadphoto">
            <label for="fileInput" class="file-label">Lorem ipsum</label>
        </div>
    </body>
</html>