<div id="sign-up-inputs-container">
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/assets/images/user_icon.svg" alt="User icon" class="input-icon">
            <input type="text" id="name-placeholder" placeholder="Lorem ipsum" required>
        </div>
    </div>
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/assets/images/user_icon.svg" alt="User icon" class="input-icon">
            <input type="text" id="username-placeholder" placeholder="Lorem Ipsum dolor" required>
        </div>
    </div>
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/assets/images/calendar_icon.svg" alt="Calendar icon" class="input-icon">
            <input type="text" id="birth-date-placeholder" placeholder="Lorem"
                   onfocus="this.type='date'" onblur="if(this.value==='')this.type='text'" required>
        </div>
    </div>
</div>
<div id="buttons-container">
    <button class="sign-up-previous-step-button" id="previous-step-button"><a href="sign_up_first_step.html">LOREM</a></button>
    <button class="sign-up-next-step-button" id="next-step-button"><a href="sign_up_third_step.html">LOREM</a></button>
</div>