<div class="signupform">
  <div class="input-group single-subinput">
    <div class="subinput-group">
      <img src="/assets/images/user_icon.svg" alt="User icon" class="logo">
      <input type="text" id="full-name" placeholder="Lorem ipsum" required>
    </div>
  </div>

  <div class="input-group single-subinput">
    <div class="subinput-group">
      <img src="/assets/images/user_icon.svg" alt="User icon" class="logo">
      <input type="text" id="username" placeholder="Lorem Ipsum dolor" required>
    </div>
  </div>

  <div class="input-group single-subinput">
    <div class="subinput-group">
      <img src="/assets/images/calendar_icon.svg" alt="Calendar icon" class="logo">
      <input type="text" id="birthdate" placeholder="Lorem"
             onfocus="this.type='date'" onblur="if(this.value==='')this.type='text'" required>
    </div>
  </div>
</div>