<img src="/assets/images/logo.svg" alt="JoinUp Logo" class="input-icon" id="logo-image">
<h1 id="sign-in-title">Lorem</h1>

<label id="email-label">
    <input type="email" id="email-input" placeholder="LOREM">
</label>

<label id="password-label">
    <input type="password" id="password-input" placeholder="LOREM">
</label>

<div class="options" id="options-container">
    <label id="keep-logged-label">
        Lorem Ipsum
        <input type="checkbox" id="keep-logged-button">
    </label>

    <hr id="options-divider-1">
    <a href="#" id="forgot-password-link">Lorem Ipsum dolor sit?</a>
    <hr id="options-divider-2">
    <a href="#" id="register-link">Lorem Ipsum</a>
</div>
<button class="sign-in-button" id="sign-in-btn">LOREM IPSUM</button>