<div id="sign-up-inputs-container">
    <label>
        <input type="checkbox" name="terms" class="terms">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
        et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
        felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
        massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
        eget, arcu.
    </label>
    <label>
        <input type="checkbox" name="terms" class="terms">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
        et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
        felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
        massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
        eget, arcu.
    </label>
</div>
<div id="buttons-container">
    <button class="sign-up-previous-step-button" id="previous-step-button"><a href="sign_up_third_step_page.html">LOREM</a></button>
    <button class="sign-up-next-step-button" id="next-step-button"><a href="home_page.html">LOREM</a></button>
</div>