<img src="/assets/images/logo.svg" alt="JoinUp Logo" class="input-icon" id="logo-image">
<h1 id="sign-in-title"></h1>

<label id="email-label">
    <input type="email" id="email-input" placeholder="">
</label>

<label id="password-label">
    <input type="password" id="password-input" placeholder="">
</label>
<span id="error-message-container"></span>
<div class="options" id="options-container">
    <label id="keep-logged-label" for="keep-logged-button">
        <input type="checkbox" id="keep-logged-button">
    </label>

    <hr id="options-divider-1">
    <a href="reset_password_page.html" id="forgot-password-link"></a>
    <hr id="options-divider-2">
    <a href="sign_up.html" id="register-link"></a>
</div>
<button class="sign-in-button" id="sign-in-btn"></button>