<div class="sign-up-inputs-container">
    <div id="upload-photo-container" class="drop-area">
        <div id="uploaded-img-container">
            <img id="uploaded-img" src="../../../assets/images/userprofile_icon.svg" alt="Profile Image">
        </div>
        <div>
            <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)" style="display: none;">
            <img src="../../../assets/images/upload_icon.svg">
            <label for="fileElem" class="upload-label"></label>
        </div>
    </div>
</div>
<div id="buttons-container">
    <button class="sign-up-previous-step-button" id="previous-step-button"><a href="sign_up_second_step_page.html"></a></button>
    <button class="sign-up-next-step-button" id="next-step-button"><a href="sign_up_fourth_step_page.html"></a></button>
</div>