<div id="sign-up-inputs-container">
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/assets/images/user_icon.svg" alt="User icon" class="input-icon">
            <input type="text" id="full-name" placeholder="Lorem ipsum" required>
        </div>
    </div>
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/assets/images/user_icon.svg" alt="User icon" class="input-icon">
            <input type="text" id="username" placeholder="Lorem Ipsum dolor" required>
        </div>
    </div>
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/assets/images/calendar_icon.svg" alt="Calendar icon" class="input-icon">
            <input type="text" id="birthdate" placeholder="Lorem"
                   onfocus="this.type='date'" onblur="if(this.value==='')this.type='text'" required>
        </div>
    </div>
</div>
<div id="buttons-container">
    <button class="sign-up-previous-step-button"><a href="signupfirststep.html">LOREM</a></button>
    <button class="sign-up-next-step-button"><a href="signupthirdstep.html">LOREM</a></button>
</div>