<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form 1</title>
    <link rel="stylesheet" href=../css/signupform.css>
</head>

<body>
    <div class="input-group single-subinput">
        <div class="subinput-group">
            <img src="/src/Mail.svg" alt="Mail icon" class="logo">
            <input type="email" id="email" placeholder="Lorem Ipsum dolor sit amet" required>
        </div>
    </div>

    <div class="input-group">
        <div class="subinput-group">
            <img src="/src/Password.svg" alt="Mail icon" class="logo">
            <input type="password" id="password" placeholder="Lorem Ipsum dolor" required>
        </div>
        <div class="progress-bar"><div id="password-strength"></div></div>
    </div>

    <div class="input-group">
        <div class="subinput-group">
            <img src="/src/Password.svg" alt="Mail icon" class="logo">
            <input type="password" id="confirm-password" placeholder="Lorem Ipsum dolor" required>
        </div>
        <div class="progress-bar"><div id="confirm-strength"></div></div>
    </div>
</body>
</html>