<div id="sign-up-inputs-container">
    <img src="/assets/images/userprofile_icon.svg" alt="User Photo" id="profilephoto">
    <div class="upload-photo-util">
        <img src="/assets/images/upload_icon.svg" alt="Upload Photo" id="uploadphoto">
        <span class="file-label" id="photo-text">Lorem ipsum</span>
    </div>
</div>
<div id="buttons-container">
    <button class="sign-up-previous-step-button" id="previous-step-button"><a href="sign_up_second_step_page.html">LOREM</a></button>
    <button class="sign-up-next-step-button" id="next-step-button"><a href="sign_up_fourth_step_page.html">LOREM</a></button>
</div>