<div class="sign-up-inputs-container">
    <div class="input-group">
        <div class="subinput-group">
            <img src="/assets/images/mail_icon.svg" alt="Mail icon" class="input-icon">
            <input type="email" id="email-placeholder" placeholder="" required>
        </div>
    </div>
    <div class="input-group">
        <div class="subinput-group">
            <img src="/assets/images/password_icon.svg" alt="Mail icon" class="input-icon">
            <input type="password" id="password" placeholder="" required>
        </div>
        <div class="progress-bar">
            <div id="password-strength"></div>
        </div>
    </div>
    <div class="input-group">
        <div class="subinput-group">
            <img src="/assets/images/password_icon.svg" alt="Mail icon" class="input-icon">
            <input type="password" id="confirm-password" placeholder="" required>
        </div>
        <div class="progress-bar">
            <div id="confirm-strength"></div>
        </div>
    </div>
</div>
<div id="buttons-container">
    <button class="sign-up-next-step-button" id="next-step-button"><a href="sign_up_second_step_page.html"></a></button>
</div>