<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In circle</title>
  <link rel="stylesheet" href="../css/signincircle.css">
</head>
<body>

<section class="circle-container">
  <img src="/src/logo.svg" alt="JoinUp Logo" class="logo">
  <h1>Lorem</h1>

  <label>
    <input type="email" placeholder="LOREM">
  </label>
  <label>
    <input type="password" placeholder="LOREM">
  </label>

  <p class="options">
    <input type="checkbox" id="keepLogged">
    <label for="keepLogged">Lorem Ipsum</label> |
    <a href="#">Lorem Ipsum dolor sit</a> |
    <a href="#">Lorem Ipsum</a>
  </p>

  <button class="btn-signin">LOREM IPSUM</button>
</section>

</body>
</html>
