<nav class="social_navigation">
    <ul>
        <li><a target=_self href="../../pages/html/social_friends.html">Friends</a></li>
        <li><a target=_self href="../../pages/html/social_received_requests.html">Pending</a></li>
        <li><a target=_self href="../../pages/html/social_block_and_sent_requests.html">Sent requests</a></li>
        <li><a target=_self href="../../pages/html/social_block_and_sent_requests.html">Blocked</a></li>
        <li><a target=_self href="../../pages/html/social_groups.html">Groups</a></li>
    </ul>
</nav>