<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Container</title>
    <link rel="stylesheet" href="../css/social_container.css">
    <link rel="stylesheet" href="../css/social_navigation.css">
    <link rel="stylesheet" href="../css/user_social.css">
</head>
<body>
    <section class="social_container">
      <article id="social_navigation">
      </article>
      <article id="user_information_label">
      </article>
      <article id="users_section">
      </article>
</body>
</html>