<nav class="social_navigation">
    <ul>
        <li><a target=_self href="../../pages/html/social_friends.html">Lorem Ipsum</a></li>
        <li><a target=_self href="../../pages/html/social_received_requests.html">Lorem Ipsum</a></li>
        <li><a target=_self href="../../pages/html/social_block_and_sent_requests.html">Lorem Ipsum</a></li>
        <li><a target=_self href="../../pages/html/social_block_and_sent_requests.html">Lorem Ipsum</a></li>
        <li><a target=_self href="../../pages/html/social_groups.html">Lorem Ipsum</a></li>
    </ul>
</nav>