<div id="circles-container">
    <div class="step-circle-container" data-step="1">
        <div class="step-circle step-circle-non-focused" data-step="1">
            <span class="step-circle-number">1</span>
        </div>
        <span class="step-info">Lorem Ipsum</span>
    </div>
    <div class="step-circle-middle-circles">
        <div class="step-circle-middle-circle-third"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-first"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-third"></div>
    </div>
    <div class="step-circle-container" data-step="2">
        <div class="step-circle step-circle-non-focused" data-step="2">
            <span class="step-circle-number">2</span>
        </div>
        <span class="step-info">Lorem Ipsum</span>
    </div>
    <div class="step-circle-middle-circles">
        <div class="step-circle-middle-circle-third"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-first"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-third"></div>
    </div>
    <div class="step-circle-container" data-step="3">
        <div class="step-circle step-circle-non-focused" data-step="3">
            <span class="step-circle-number">3</span>
        </div>
        <span class="step-info">Lorem Ipsum</span>
    </div>
    <div class="step-circle-middle-circles">
        <div class="step-circle-middle-circle-third"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-first"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-third"></div>
    </div>
    <div class="step-circle-container" data-step="4">
        <div class="step-circle step-circle-non-focused" data-step="4">
            <span class="step-circle-number">4</span>
        </div>
        <span class="step-info">Lorem Ipsum</span>
    </div>
</div>
