<div id="circles-container">
    <div class="step-circle-container">
        <a href="sign_up_first_step_page.html">
            <div class="step-circle step-circle-non-focused" data-step="1">
                <span class="step-circle-number">1</span>
            </div>
        </a>
        <span class="step-info">Lorem Ipsum</span>
    </div>
    <div class="step-circle-middle-circles">
        <div class="step-circle-middle-circle-third"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-first"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-third"></div>
    </div>
    <div class="step-circle-container">
        <a href="sign_up_second_step_page.html">
            <div class="step-circle step-circle-non-focused" data-step="2">
                <span class="step-circle-number">2</span>
            </div>
        </a>
        <span class="step-info">Lorem Ipsum</span>
    </div>
    <div class="step-circle-middle-circles">
        <div class="step-circle-middle-circle-third"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-first"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-third"></div>
    </div>
    <div class="step-circle-container">
        <a href="sign_up_third_step_page.html">
            <div class="step-circle step-circle-non-focused" data-step="3">
                <span class="step-circle-number">3</span>
            </div>
        </a>
        <span class="step-info">Lorem Ipsum</span>
    </div>
    <div class="step-circle-middle-circles">
        <div class="step-circle-middle-circle-third"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-first"></div>
        <div class="step-circle-middle-circle-second"></div>
        <div class="step-circle-middle-circle-third"></div>
    </div>
    <div class="step-circle-container">
        <a href="sign_up_fourth_step_page.html">
            <div class="step-circle step-circle-non-focused" data-step="4">
                <span class="step-circle-number">4</span>
            </div>
        </a>
        <span class="step-info">Lorem Ipsum</span>
    </div>
</div>
