<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Step</title>
    <link rel="stylesheet" href="../css/steps.css">
</head>
<body>

<div class="stepper">
    <div class="step active">
        <span class="circle">1</span>
        <p>Lorem Ipsum</p>
    </div>
    <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot big-dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <div class="step">
        <span class="circle">2</span>
        <p>Lorem Ipsum</p>
    </div>
    <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot big-dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <div class="step">
        <span class="circle">3</span>
        <p>Lorem Ipsum</p>
    </div>
    <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot big-dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <div class="step">
        <span class="circle">4</span>
        <p>Lorem Ipsum</p>
    </div>
</div>

</body>
</html>
