<div class="user_social">
    <div class="user_squared_photo">
        <img src="../../../assets/images/logo.svg" alt="" height="74" width="74">
    </div>
    <a target="_self" href="../../pages/html/user_profile_page.html">Lorem Ipsum</a>
    <div class="user_social_icons">
        <button><img src="../../../assets/images/remove_user_icon.svg" alt=""></button>
        <button><img src="../../../assets/images/block_user_icon.svg" alt=""></button>
        <a target="_self" href="../../pages/html/chat.html"><img src="../../../assets/images/message_icon.svg" alt=""></a>
    </div>
</div>