<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Social</title>
    <link rel="stylesheet" href="../css/user_social.css">
</head>
<body>
    <section class="user_social">
        <div class="user_squared_photo">
            <img src="../../../assets/images/logo.svg" alt="" height="74" width="74">
        </div>
        <p>Lorem ipsum</p>
        <div class="user_social_icons">
            <img src="../../../assets/images/remove_user_icon.svg" alt="">
            <img src="../../../assets/images/message_icon.svg" alt="">
        </div>
    </section>
</body>
</html>