<div class="user-squared-photo">
    <img src="../../../assets/images/logo.svg" alt="">
</div>
<a target="_self" href="../../pages/html/profile_page_user.html">Lorem Ipsum</a>
<div class="user-social-icons-container">
    <button><img src="../../../assets/images/remove_user_icon.svg" alt=""></button>
    <button><img src="../../../assets/images/block_user_icon.svg" alt=""></button>
    <a target="_self" href="../../pages/html/chat.html"><img src="../../../assets/images/message_icon.svg" alt=""></a>
</div>