#events-bg {
    background: white;
}

.events-section {
    flex: 1 1 0;
    overflow: auto;
    height: 92.5vh;
}

.input-with-icon {
    margin: 0 1rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-right: 0.5rem;
    padding-left: 1rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.input-with-icon:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.input-with-icon:focus-within {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-with-icon input {
    outline: none;
    background: transparent;
}

.events-aside {
    background: white;
    width: 20rem;
    transition: left 0.3s ease;
    z-index: 10;
    height: 92.5vh;
}

.toggle-button {
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease, left 0.3s ease;
}

@media screen and (max-width: 700px) {
    .events-aside {
        position: absolute;
        z-index: 5;
        height: 92%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background: transparent;
        padding-top: 2rem;
        left: -20rem;
    }

    .events-aside.active {
        left: 0;
    }

    .toggle-button {
        display: block;
        left: 0;
    }

    .toggle-button.active {
        left: 17rem;
        transform: rotate(-180deg);
    }
}