<main id="events-bg">
    <span #toggle_button (click)="toggleAside()" class="toggle-button">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4l8 8-8 8V4z"/>
        </svg>
    </span>
    <aside #aside class="events-aside">
        <form #form="ngForm" class="search-form" (ngSubmit)="filterEvents(name_input.value)">
            <div class="input-with-icon">
                <i class="bi-search"></i>
                <input #name_input pattern=".{6,}" name="name_input" type="text" class="flex-grow-1" placeholder="Search by name">
            </div>
        </form>
        <hr class="w-75">
        <nav>
            <ul class="nav-list">
                <li [routerLink]="['/events', 'Explore']">Explore</li>
                <li [routerLink]="['/events', 'Favourite']">Favourites</li>
                <li [routerLink]="['/events', 'Joined']">Joined</li>
                <li [routerLink]="['/events', 'Owned']">Owned</li>
            </ul>
        </nav>
    </aside>
    <div class="events-section">
        <div class="header-section">
            <h1>{{title}}</h1>
            <app-generic-button routerLink="/eventCreationFirst" text="Create event"></app-generic-button>
        </div>
        <hr class="w-100">
        <section>
            @for (event of filteredEvents; track event.id) {
                <app-reduced-card
                        (openMembersListEmitter)="openWith($event)"
                        (unlikeEvent)="handleUnlike($event)"
                        [eventID]="event.id!"
                        class="m-3"
                ></app-reduced-card>
            }
        </section>
    </div>
    <app-event-members (closeEmitter)="close()" [isVisible]="isVisible" [eventID]="selectedEventID"></app-event-members>
</main>