<main class="main d-flex align-items-center justify-content-center">
    <div class="central-card bg-white">
        <div class="central-card-header d-flex flex-column align-items-center justify-content-center">
            <h1 class="fw-bolder">Basic information</h1>
            <h2 class="fw-lighter">we are looking forward to know you</h2>
        </div>
        <form class="central-card-form d-flex flex-column gap-5 p-3">
            <app-input-with-icon icon="bi-envelope" placeholder="E-mail" type="email"></app-input-with-icon>
            <app-input-with-icon icon="bi-lock" placeholder="Introduce your password" type="password"></app-input-with-icon>
            <app-input-with-icon icon="bi-lock" placeholder="Repeat your password" type="password"></app-input-with-icon>
            <div class="d-flex flex-column gap-1">
                <app-generic-button text="NEXT" buttonClass="solid-button"></app-generic-button>
                <p class="w-100 text-center">Already have an account? Try <strong class="sign-in-text">signing in.</strong></p>
            </div>
        </form>
        <div class="central-card-footer align-content-center">
            <app-form-stepper
                [steps]="[
                    {step: 1, route: 'signUp', text: 'Basic information'},
                    {step: 2, route: 'signUp', text: 'Account information'},
                    {step: 3, route: 'signUp', text: 'Account photo'},
                    {step: 4, route: 'signUp', text: 'Privacy policy'},
                ]"
                [currentStep]="1"
            ></app-form-stepper>
        </div>
    </div>
</main>