<main class="main d-flex align-items-center justify-content-center">
    <form #form="ngForm" class="central-card d-flex flex-column bg-white p-5">
        <div class="group-creation-header w-100 d-flex flex-column">
            <div class="d-flex">
                <h1>Group creation</h1>
                <i routerLink="/social/groups" class="bi-x-circle fs-1 ms-auto"></i>
            </div>
            <hr>
        </div>
        <div class="w-100 d-flex mb-4">
            <div class="input-container drop-zone d-flex flex-column align-items-center justify-content-center"
                 (dragover)="onDragOver($event)"
                 (drop)="onDrop($event)"
                 (click)="triggerFileInput()">
                <input type="file" id="fileInput" class="d-none" (change)="onFileSelected($event)"/>
                @if (!image) {
                    <i class="bi-upload fs-5"></i>
                    <p class="text-center">Upload your image!</p>
                } @else {
                    <div class="image-preview">
                        <img [src]="image" alt="Loaded Image" />
                    </div>
                }
            </div>
            <div class="d-flex flex-column flex-grow-1">
                <label class="fw-lighter fs-5" for="group-name-input">Group name</label>
                <input name="name-input" class="input" [(ngModel)]="name" id="group-name-input" type="text" required>
            </div>
        </div>
        <div class="w-100">
            <div class="members-input-container w-100 d-flex flex-column">
                <app-users-search-input class="users-input-component" (selectedEmitter)="addMember($event)" [exclude]="members"></app-users-search-input>
            </div>
            <div class="users-list-container overflow-auto">
                <app-users-list (removeEmitter)="removeMember($event)" [users]="members"></app-users-list>
            </div>
        </div>
        @if (!editing) {
            <app-generic-button (click)="createGroup(form)" class="mt-auto" text="Create group" buttonClass="solid-button"></app-generic-button>
        } @else {
            <app-generic-button (click)="updateGroup(form)" class="mt-auto" text="Update group" buttonClass="solid-button"></app-generic-button>
        }
    </form>
</main>