<main class="main">
  <form #form="ngForm" class="central-card">
    <div class="group-creation-header">
      <div class="header-content">
        <h1>Group creation</h1>
        <i routerLink="/social/groups" class="bi-x-circle"></i>
      </div>
      <hr>
    </div>
    <div class="form-content">
      <div class="input-container drop-zone"
           (dragover)="onDragOver($event)"
           (drop)="onDrop($event)"
           (click)="triggerFileInput()">
        <input type="file" id="fileInput" class="hidden" (change)="onFileSelected($event)"/>
        @if (!image) {
          <i class="bi-upload"></i>
          <p>Upload your image!</p>
        } @else {
          <div class="image-preview">
            <img [src]="image" alt="Loaded Image" />
          </div>
        }
      </div>
      <div class="group-name-container">
        <label class="label" for="group-name-input">Group name</label>
        <input name="name-input" class="input" [(ngModel)]="name" id="group-name-input" type="text" required>
      </div>
    </div>
    <div class="members-section">
      <div class="members-input-container">
        <app-users-search-input class="users-input-component" (selectedEmitter)="addMember($event)" [exclude]="members"></app-users-search-input>
      </div>
      <div class="users-list-container">
        <app-users-list (removeEmitter)="removeMember($event)" [users]="members"></app-users-list>
      </div>
    </div>
    @if (!editing) {
      <app-generic-button (click)="createGroup(form)" class="submit-button" text="Create group" buttonClass="solid-button"></app-generic-button>
    } @else {
      <app-generic-button (click)="updateGroup(form)" class="submit-button" text="Update group" buttonClass="solid-button"></app-generic-button>
    }
  </form>
</main>
