.central-card {
    width: 40rem;
    height: 50rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input {
    outline: none;
    border: none;
    margin: 0 1rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-right: 0.5rem;
    padding-left: 1rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.input:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.input:focus-within {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    margin-left: 1.5rem;
}

.drop-zone {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.drop-zone:hover {
    background-color: #e0f7fa;
}

.image-preview {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image-preview img {
    object-fit: contain;
    border-radius: 8px;
}

.users-list-container {
    margin-top: 0.5rem;
    height: 21.7rem;
}