<form class="d-flex flex-column gap-5">
    <div class="d-flex gap-2">
        <input name="firstPolicyInput" [(ngModel)]="firstPolicy" class="mb-auto mt-2" type="checkbox" id="first-policy">
        <label for="first-policy">
            I accept the Terms and Conditions of use for the platform. By accepting, I acknowledge that I have read, understood, and agree to comply with the rules and guidelines set forth, including those related to the proper use of the social network, intellectual property rights, and privacy of data.\n I accept the Privacy Policy, understanding how my personal data is collected, stored, and processed on the platform.
        </label>
    </div>
    <div class="d-flex gap-2">
        <input name="secondPolicyInput" [(ngModel)]="secondPolicy" class="mb-auto mt-2" type="checkbox" id="second-policy">
        <label for="second-policy">
            I accept the Privacy Policy, understanding how my personal data is collected, stored, and processed on the platform. I am aware of my rights regarding the information I provide and how this data is used to enhance my experience on the social network. I understand that I have the ability to manage and modify my privacy preferences at any time, and that my trust in the handling of my data is crucial for maintaining a safe and transparent environment
        </label>
    </div>
</form>