<footer class="footer d-flex flex-column align-items-center text-center py-4 px-3">
  <div class="footer-top d-flex flex-column flex-md-row justify-content-center align-items-center gap-4 w-100">

    <ul class="icons list-unstyled d-flex justify-content-center gap-3 mb-0">
      <li>
        <a href="https://www.facebook.com/profile.php?id=61574551471387" target="_blank">
          <img src="/icons/facebook.svg" alt="Facebook" class="icon img-fluid" style="max-width: 32px;">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/joinup_enterprise" target="_blank">
          <img src="/icons/instagram.svg" alt="Instagram" class="icon img-fluid" style="max-width: 32px;">
        </a>
      </li>
      <li>
        <a href="https://github.com/mohamedOharoun/PWM_44.3" target="_blank">
          <img src="/icons/github.svg" alt="GitHub" class="icon img-fluid" style="max-width: 32px;">
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img src="/icons/linkedin.svg" alt="LinkedIn" class="icon img-fluid" style="max-width: 32px;">
        </a>
      </li>
    </ul>

    <ul class="others list-unstyled d-flex flex-row align-items-center justify-content-center gap-3 mb-0 fs-6 fs-sm-4">
      <li>
        <a href="../../pages/html/privacy_policy_page.html" class="button">Privacy Policy</a>
      </li>
      <li>
        <div class="vr bg-dark opacity-75" style="width: 1.5px; height: 12px;"></div>
      </li>
      <li>
        <a href="mailto:joinup.enterprise@gmail.com" class="button text-decoration-none ">Contact</a>
      </li>
    </ul>

  </div>

  <ul class="copyright list-unstyled text-center mt-2 mb-0 fs-6 fs-sm-4">
    <li>&copy; Copyright 2025 JoinUp! Enterprise. All rights reserved.</li>
  </ul>
</footer>
