<main>
  <article class="main-content">
    <div class="content-container">
      <h1 class="home-title">{{ title }}</h1>
      <p class="text">{{ textInfo }}</p>
      <div class="button-container">
        <app-generic-button [text]="firstButton" routerLink="/eventCreationFirst"></app-generic-button>
        <app-generic-button [text]="secondButton" routerLink="/groupCreation"></app-generic-button>
      </div>
    </div>
    <section class="photo-container">
      <img [src]="photo" alt="Home image" class="main-image">
    </section>
  </article>
  <div class="second-info-container">
    <section class="info-container">
      <article class="info-card">
        <h1 class="card-title">{{ friendsContainer }}</h1>
        <hr>
        @for (user of friends; track user) {
          <div class="friend-item">
            <app-card-home [userID]="user"></app-card-home>
          </div>
        }
      </article>
      <article class="info-card">
        <h1 class="card-title">{{ eventsContainer }}</h1>
        <hr>
        @for (event of upcomingEvents; track event) {
          <div class="event-item">
            <app-card-event-home
              [type]="'upComingEvent'"
              [event]="event">
            </app-card-event-home>
          </div>
        }
      </article>
      <article class="info-card">
        <h1 class="card-title">{{ paymentsContainer }}</h1>
        <hr>
        @for (event of unpaidEvents; track event) {
          <div class="event-item">
            <app-card-event-home
              [type]="'unpaidEvent'"
              [event]="event">
            </app-card-event-home>
          </div>
        }
      </article>
    </section>
  </div>
</main>
