<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
  <title>Input</title>
  <style>
    html body {
      margin: 0;
    }

    label {
      margin: 25px;
      font-family: "League Spartan", sans-serif;
      display: flex;
      flex-direction: column;
    }

    input {
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      border: transparent;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 90%;
    }
  </style>
</head>
<body>
  <main>
    <label>
      Lorem Ipsum
      <input type="text" placeholder="Lorem Ipsum">
    </label>
  </main>
</body>
</html>