<header class="page-header">
    <img routerLink="/" src="icons/logo.svg" width="50" height="50" class="header-logo">
    @if (user) {
        <nav class="page-header-navigation">
            <ul class="header-navigation">
                @for (link of navLinks; track link.page) {
                    <li (click)="navigateTo(link)" class="header-nav-text">
                        {{ link.page }}
                    </li>
                }
            </ul>
        </nav>
    }
    <div id="page-header-buttons" class="header-buttons">
        @if (user) {
            <i [routerLink]="['/profile', user.username]" class="bi-person-circle toggle-menu-icon"></i>
            <app-generic-button text="Sign out" (click)="signOut()" routerLink="homePage"></app-generic-button>
        } @else {
            <app-generic-button [text]="buttonText" routerLink="signin"></app-generic-button>
        }
    </div>
</header>