.page-header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 8vh;
    z-index: 1000;
}

.header-nav-text {
    transition: font-weight 0.3s ease;
    cursor: pointer;
}

.header-nav-text:hover {
    font-weight: bold;
}