<header class="page-header d-flex align-items-center p-2">
    <img src="icons/logo.svg" width="50" height="50" class="me-3">
    <nav>
        <ul id="header-navigation" class="d-flex align-items-center list-unstyled pt-3 gap-3">
            @for (link of navLinks; track $index) {
                <li class="d-flex align-items-center">
                    {{ link.page }}
                </li>
            }
        </ul>
    </nav>
    <div id="page-header-buttons" class="ms-auto">
        <app-generic-button [text]="buttonText"></app-generic-button>
    </div>
</header>