<header class="page-header shadow p-2">
    <img routerLink="/" src="icons/logo.svg" width="50" height="50" class="me-3">
    <button (click)="toggleMenu()" class="toggle-menu-button bg-transparent border-0">
        <i class="bi-list d-flex align-items-center justify-content-center fs-1"></i>
    </button>
    @if (user) {
        <nav class="page-header-navigation">
            <ul class="header-navigation align-items-center list-unstyled pt-3">
                @for (link of navLinks; track $index) {
                    <li (click)="navigateTo(link)" class="header-nav-text d-flex align-items-center">
                        {{ link.page }}
                    </li>
                }
            </ul>
        </nav>
    }
    <div id="page-header-buttons" class="ms-auto d-flex align-items-center justify-content-center gap-3">
        @if (user) {
            <i routerLink='/profile' class="bi-person-circle fs-1 mt-3"></i>
            <app-generic-button text="Sign out" (click)="signOut()" routerLink="homePage"></app-generic-button>
        } @else {
            <app-generic-button [text]="buttonText" routerLink="signin"></app-generic-button>
        }
    </div>
</header>