<article class="social-card d-flex gap-3 p-5 m-2 align-items-center p-3">
    @defer (when pendingUser) {
        <div class="social-card-image-container d-flex align-items-center justify-content-center overflow-hidden">
            <img class="object-fit-cover w-100 h-100" [src]="pendingUser.image ? pendingUser.image : 'icons/logo.svg'">
        </div>
        <div class="social-card-text-container">
            {{ pendingUser.username }}
        </div>
    }
    <div class="d-flex ms-auto gap-2 social-card-utils-icons-container">
        <i (click)="acceptRequest()" class="bi-check fs-3"></i>
        <i (click)="cancelRequest()" class="bi-x fs-3"></i>
    </div>
</article>