<form #third_form="ngForm" class="image-form-container">
    <div class="input-container drop-zone">
        <input type="file" id="fileInput" (change)="onFileSelected($event)"/>
        @if (!image) {
            <i class="bi-upload fs-5"></i>
            <p>Upload your image!</p>
        } @else {
            <div class="image-preview">
                <img [src]="image" alt="Loaded Image" />
            </div>
        }
    </div>
    <div class="form-footer">
        <div class="button-group">
            <div class="button-container">
                <app-generic-button (click)="changePage(previousStep)" text="PREVIOUS" buttonClass="transparent-button"></app-generic-button>
            </div>
            <div class="button-container">
                <app-generic-button (click)="changePage(nextStep)" text="NEXT" buttonClass="solid-button"></app-generic-button>
            </div>
        </div>
        <p>
            Already have an account? Try <strong class="sign-in-text">signing in.</strong>
        </p>
    </div>
</form>