<main class="d-flex justify-content-center align-items-center vh-100">
    <div
      class="d-flex flex-column align-items-center justify-content-center rounded-circle shadow p-4 bg-white text-center"
      style="width: 800px; height: 800px">
      <h1 class="fw-bold mb-4" style="font-size: 80px;">Reset Password</h1>

      <p class="text-center fs-4 text-muted">
        Enter the email address you used to create your account.<br>
        We will send you instructions to reset your password.
      </p>
      <form id="sign-in-form" class="w-75">
        <div class="mb-3 d-flex flex-column align-items-center">
          <input type="email" id="email-input"
                 class="form-control"
                 placeholder="johndoe@example.com"
                 required>
        </div>
      </form>

      <div class="justify-content-center w-10 mt-lg-5">
        <div class="w-auto">
          <app-generic-button text="SEND EMAIL" buttonClass="solid-button w-100" class="p-2 w-75 fs-4"></app-generic-button>
        </div>
        <p class="w-100 text-center mt-3">
          Already have an account? Try
          <strong routerLink="/signin" class="sign-in-text">signing in.</strong>
        </p>
      </div>
    </div>
</main>
