.central-card {
  width: 40rem;
  height: 50rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.central-card-header {
  width: 100%;
  height: 25%;
}

.central-card-center {
  width: 100%;
  height: 55%;
}

.central-card-footer {
  width: 100%;
  height: 20%;
}

.sign-in-text {
  cursor: pointer;
}
