.message-input {
    height: 3rem;
    margin: auto 2rem 0 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding-right: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.message-input:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.message-input:focus-within {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message-input input {
    outline: none;
    background: transparent;
}