.privacy-policy {
  max-width: 900px;
  margin: 30px auto;
}

hr {
  height: .5px;
  opacity: 100%;
  background-color: white;
  border: 0;
}

.panel {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.centered {
  color: #888;
}

.media {
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}
