<div class="stepper-container">
    <div class="stepper-wrapper">
        @for (step of steps; track $index) {
            <div class="step-item" (click)="emit(step)">
                <div class="step-circle" [ngClass]="getStepClass(step.step)">
                    {{ step.step }}
                </div>
                <p class="step-information">
                    {{step.text}}
                </p>
            </div>
            @if ($index < steps.length - 1) {
                <div class="step-line"></div>
            }
        }
    </div>
</div>
