.stepper-container {
    width: 100%;
    padding: 1rem;
}

.stepper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-circle {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #23CFA7;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-circle:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.focused-step {
    background: linear-gradient(45deg, #006D77, #23CFA7);
    color: white;
}

.previous-step {
    background: linear-gradient(45deg, rgba(0, 109, 119, 0.42), rgba(35, 207, 167, 0.4));
    color: white;
}

.step-information {
    width: 3rem;
    font-size: 0.7rem;
    text-wrap: balance;
}

.step-line {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 0.5rem;
    margin-top: 1.75rem;
}

@media (max-width: 768px) {
    .step-circle {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .step-information {
        font-size: 0.6rem;
        width: 2.5rem;
    }

    .step-line {
        margin-top: 1.25rem;
    }
}