.form-label {
  font-weight: 500;
  color: #333;
}

.input-without-icon {
  display: flex;
  align-items: center;
  height: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 0 1rem;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  background: white;
}

.input-without-icon:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.input-without-icon:focus-within {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-without-icon input {
  border: none;
  outline: none;
  background: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.input-without-icon input[type="datetime-local"] {
  padding-right: 2rem; /* Increased padding to accommodate arrow */
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.25rem center; /* Arrow closer to the end */
  background-size: 20px; /* Ensure arrow is appropriately sized */
  width: 100%; /* Ensure input fills the container */
}