.message-container {
    border: 2px solid #23CFA7;
    border-radius: 10px;
    max-width: 45%;
    width: fit-content;
}

.self-message {
    align-items: flex-end;
}

.check-icon {
    margin-left: auto;
}

.message-card-footer span {
    font-size: 0.7rem;
}