.container-blur {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
}

.members-card {
    background: white;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.alert-header {
    height: 40%;
}

.alert-body {
    height: 40%;
}

.alert-footer {
    height: 20%;
}

.success-button {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background: #1aaf71;
    color: white;
    border: none;
}