<main class="main">
    <div class="container-blur w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="alert-card d-flex flex-column">
            <div class="alert-header d-flex flex-column align-items-center border border-black justify-content-center">
                <i class="bi-check2-circle fs-1"></i>
            </div>
            <div class="alert-body d-flex flex-column align-items-center justify-content-center">
                <h1>Are you sure?</h1>
                <h3 class="fs-5">You won't be able to revert this!</h3>
            </div>
            <div class="alert-footer d-flex align-items-center justify-content-center g-3">
                <button class="success-button">Continue</button>
            </div>
        </div>
    </div>
</main>
