<form class="form-container">
  <app-input
    [type]="'text'"
    [label]="'Name'"
    [(value)]="name"
    (valueChange)="setName($event)"
    class="input-field">
  </app-input>

  <app-input
    [type]="'datetime-local'"
    [label]="'Date & Time'"
    [(value)]="dateTime"
    (valueChange)="setDateTime($event)"
    class="input-field">
  </app-input>

  <app-input
    [type]="'number'"
    [label]="'Price'"
    [(value)]="price"
    (valueChange)="setPrice($event)"
    class="input-field">
  </app-input>

  <app-input
    [type]="'text'"
    [label]="'Location'"
    [(value)]="location"
    (valueChange)="setPlace($event)"
    class="input-field">
  </app-input>

  <div class="checkbox-container">
    <input
      id="event-private"
      type="checkbox"
      [checked]="isPrivate"
      (change)="togglePrivacy()"
    />
    <label for="event-private">
      {{ isPrivate ? 'Private' : 'Public' }}
    </label>
  </div>
</form>
