<main class="main-container">
  <div class="central-card">
    <div class="card-header">
      <h1 class="title-bold">Event creation</h1>
      <h2 class="title-light">What's it about?</h2>
    </div>
    <div class="card-content">
      <app-event-creation-third-form></app-event-creation-third-form>
      <div class="button-container">
        <div class="button-group">
          <div class="button-wrapper">
            <app-generic-button (click)="changePage(previousStep)" text="PREVIOUS" buttonClass="transparent-button"></app-generic-button>
          </div>
          <br>
          <div class="button-wrapper">
            <app-generic-button (click)="createEvent()" text="CREATE EVENT" buttonClass="solid-button"></app-generic-button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <app-form-stepper
        (changePageEmitter)="changePage($event)"
        [steps]="[
          {step: 1, route: 'eventCreationFirst', text: 'Basic information'},
          { step: 2, route: 'eventCreationSecond', text: 'Who\'s coming?' },
          {step: 3, route: 'eventCreationThird', text: 'What\'s it about?'}
        ]"
        [currentStep]="currentStep">
      </app-form-stepper>
    </div>
  </div>
</main>
