#chat-users-list {
    background: white;
    overflow-y: auto;
    width: 20rem;
    height: 100%;
}

#users-list-wrapper {
    height: 100%;
    overflow: hidden;
}

#toggle-chat {
    position: absolute;
    background: transparent;
    border: none;
    display: none;
    z-index: 1001;
}

@media screen and (max-width: 700px) {
    #chat-users-list {
        padding-top: 1rem;
        position: fixed;
        left: -20rem;
        z-index: 1000;
        transition: left 0.3s ease;
    }

    #chat-users-list.active {
        left: 0;
    }

    #toggle-chat {
        display: flex;
    }
}

#current-chat {
    display: flex;
    flex-direction: column;
    background: white;
    flex: 1 1 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#current-chat-name-container {
    padding: 5% 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

#current-chat-name-container hr {
    width: 70%;
    border: none;
    background: black;
    height: 1px;
}

#messages-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

#message-input-container {
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}