#chat-user-list {
    background: white;
    overflow-y: auto;
    width: 20%;
}

#current-chat {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    flex-grow: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#current-chat-name-container {
    padding: 5% 0 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

#current-chat-name-container hr {
    width: 70%;
    border: none;
    background: black;
    height: 1px;
}

#messages-section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

#message-input-container {
    position: absolute;
    box-sizing: border-box;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.self-message {
    display: flex;
    justify-content: flex-end;
}