* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar-menu {
    background: white;
    padding-top: 30px;
    width: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

#events-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    width: 100%;
}

#events-header-title {
    display: flex;
}

#events-header-title a {
    margin-left: auto;
}

#events-hr {
    width: 100%;
    margin: auto;
}

.card {
    margin-bottom: 20px;
}

#events {
    margin: 20px auto;
    flex: 1;
}

#events-container {
    flex: 1;
}

#create-event-link {
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, #006D77, #23CFA7);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#events-container {
    overflow-y: auto;
    padding: 30px;
    background: white;
}