main {
    justify-content: center;
    align-items: center;
}

#members-center-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 98%;
    width: 35%;
    padding: 0;
    border-radius: 10px;
}

#members-title-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#members-title-header a {
    margin: 10px;
}

#members-title-header {
    display: flex;
    width: 100%;
    justify-content: end;
}

#members-list-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex: 1;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #006D77, #23CFA7);
    border-radius: 15px;
    border: 2px solid white;
}