.feature_info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature_info figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-info-figure feauture-info-img {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.feature_info {

}