main {
    justify-content: center;
    align-items: center;
}

#center-panel {
    display: flex;
    flex-direction: column;
    background: white;
    width: min(600px, max(30vw, 600px));
    height: min(800px, 98%);
    border-radius: 10px;
    padding: 40px 40px 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#members-list-container {
    margin: 10px 0;
    display: flex;
    overflow: hidden;
}

#center-panel h1 {
    font-size: 40px;
    margin: 10px;
}

#upper-group-creations-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#upper-group-creations-inputs img {
    width: 100px;
    height: 100px;
}

#group-name-input {
    flex: 1;
}

#group-upload-photo-utilities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#group-upload-photo-container {
    align-content: center;
    justify-items: center;
    margin-right: 20px;
    margin-top: 20px;
}

#group-upload-photo-utilities img {
    width: 20px;
    height: 20px;
}

#group-upload-photo-utilities * {
    cursor: pointer;
}

#submit-button {
    padding: 2%;
    color: white;
    background: linear-gradient(45deg, #006D77, #23CFA7);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.4s ease;
}

#submit-button:focus {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #006D77, #23CFA7);
    border-radius: 15px;
    border: 2px solid white;
}
