* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #006D77, #23CFA7);
}

#group_creation {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 30px;
    width: 652px;
    height: 878px;
    margin: 10px 0;
}

#group_creation h1 {
    font-size: 40px;
    margin: 10px;
}

#members_list {
    height: 370px;
    overflow-y: auto;
    padding-right: 5px;
    margin: 40px 0;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border: 2px solid #23CFA7;
    border-radius: 10px;
}

#members_list::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

#members_list::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #006D77, #23CFA7);
    border-radius: 10px;
    border: none;
}