main {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.photo-container img {
    aspect-ratio: 645 / 385;
    width: 100%;
    height: 100%;
    padding: 0.6rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem;
    width: 50%;
}

.home-title {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.text {
    max-width: 37rem;
    margin: 0 auto;
    color: white;
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

button {
    background-color: white;
    color: black;
    padding: 0.6rem;
    font-size: 1rem;
    border: 0.3rem solid #23CFA7;
    border-radius: 0.6rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
}

#info-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1.8rem;
    margin: 1.8rem auto;
    border-radius: 0.6rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
    background: white;
}

#info-container article {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #f1f1f1;
}

@media screen and (max-width: 1024px) {
    main {
        padding: 30px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .photo-container {
        order: -1;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .photo-container img {
        margin: 0;
        max-width: 80%;
        height: auto;
    }

    .main-text {
        width: 80%;
    }

    .button-container {
        width: 50%;
        justify-content: center;
    }

    #info-container {
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: auto;
    }

    #info-container article {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 376px) {
    main {
        padding: 20px;
    }

    .photo-container img {
        display: none;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-text {
        width: 80%;
    }

    #info-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    #info-container article {
        width: 100%;
        margin: 0.5rem 0;
    }
}