main {
    justify-content: center;
}

#center-panel {
    padding: 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white;
    justify-content: center;
    align-items: center;
    width: 78%;
    overflow-y: auto;
}

.profile-container {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
