main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-in-container {
    border-radius: 100%;
    box-shadow: 0 10px 5px 10px rgba(240, 240, 240, 0.3);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
}

