main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 100%;
    width: 700px;
    padding: 0;
    border-right: 5px solid #23CFA7;
    border-left: 5px solid #23CFA7;
}

#social-title-container h1 {
    font-size: 2rem;
}

#social-container article {
    width: 100%;
}

#social-list {
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    flex: 1;
    width: 100%;
}

#social-title-container {
    display: flex;
    align-items: center;
    padding: 3rem;
}