* {
    font-family: "League Spartan", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;
}

#page-header {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: sticky;
    z-index: 1000;
    top: 0;
}