<main class="main">
    <div class="central-card">
        <div class="central-card-header">
            <h1 class="title-bold">Basic information</h1>
            <h2 class="title-light">the first step</h2>
        </div>
        <div class="central-card-center">
            <app-sign-up-first-form></app-sign-up-first-form>
        </div>
        <div class="central-card-footer">
            <app-form-stepper (changePageEmitter)="changePage($event)"
                [steps]="[
                    {step: 1, route: 'signUpFirst', text: 'Basic information'},
                    {step: 2, route: 'signUpSecond', text: 'Account information'},
                    {step: 3, route: 'signUpThird', text: 'Account photo'},
                    {step: 4, route: 'signUpFourth', text: 'Privacy policy'}
                ]"
                [currentStep]="currentStep"
            ></app-form-stepper>
        </div>
    </div>
</main>