.social-card {
    height: 5rem;
    border-radius: 10px;
    transition: background 0.1s ease;
}

.social-card:hover {
    background: #eeeeee;
}

.social-card-image-container {
    border-radius: 50%;
    border: 1px solid #23CFA7;
    height: 4.5rem;
    width: 4.5rem;
}

.user-img {
    height: 100%;
    width: 100%;
}