<main class="main d-flex justify-content-center">
    <div class="d-flex flex-column w-50 overflow-hidden bg-white">
        <div class="social-header-container">
            <app-social-navigation></app-social-navigation>
            <div class="social-header-information  d-flex justify-content-center p-5">
                <h1>
                    {{ pending.length > 0 ? pending.length + (pending.length > 1 ? ' pending requests' : ' pending requests') : 'None' }}
                </h1>
            </div>
        </div>
        <section class="social-cards-list flex-grow-1 overflow-auto">
            @for (request of pending; track request) {
                <app-pending-card
                        [pendingID]="request"
                        [userID]="user?.id!"
                        (acceptRequestEmitter)="acceptRequest($event)"
                        (cancelRequestEmitter)="cancelRequest($event)"
                ></app-pending-card>
            }
        </section>
    </div>
</main>