<main class="main-container">
  <div class="sign-in-container">
    <img src="/icons/logo.svg" alt="JoinUp Logo" class="logo-image" id="logo-image">
    <h1 class="sign-in-title">Log In</h1>
    <form #signInForm="ngForm" id="sign-in-form" class="sign-in-form" (ngSubmit)="signIn(signInForm)">
      <div class="form-group">
        <label for="email-input" class="form-label">Email Address</label>
        <div class="input gap-1 d-flex align-content-center">
          <i class="align-content-center bi-envelope"></i>
          <input #email_input="ngModel" name="email" [(ngModel)]="email" type="email" id="email-input"
                 class="form-input flex-grow-1 border-0" placeholder="johndoe@example.com"
                 pattern="^.+@.+\.\w{2,}$" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password-input" class="form-label">Password</label>
        <div class="input gap-1 d-flex align-content-center">
          <i class="align-content-center bi-lock"></i>
          <input #password_input="ngModel" name="password" [(ngModel)]="password" type="password" id="password-input"
                 class="form-input flex-grow-1 border-0" placeholder="********" required>
        </div>
      </div>
      <div class="error-message text-danger">
        <span>{{email.length && !email_input.valid ? 'Please enter a valid email.' : ''}}</span>
        <span>{{invalidCredentials ? 'Incorrect email or password.' : ''}}</span>
        <span>{{!signInForm.valid && signInForm.submitted ? 'All fields are required.' : ''}}</span>
      </div>
      <div class="options">
        <div class="form-check">
          <input type="checkbox" id="keep-logged-button" class="form-check-input">
          <label for="keep-logged-button" class="form-check-label">Keep me signed in</label>
        </div>
        <div class="vertical-divider"></div>
        <a href="/resetPassword" id="forgot-password-link" class="link">Forgot password?</a>
        <div class="vertical-divider"></div>
        <a href="/signUpFirst" id="register-link" class="link">Create an account</a>
      </div>
      <div class="button-container">
        <button type="submit" class="btn-gradient">LOG IN</button>
      </div>
    </form>
  </div>
</main>
