.btn-gradient {
  background: linear-gradient(90deg, #23CFA7, #006D77);
  color: white;
  padding: 15px 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

#error-message-container {
  display: none;
  margin-top: 10px;
  margin-bottom: -7px;
  color: red;
  font-weight: bold;
}

@media (max-width: 700px) {
  #sign-in-container h1 {
    font-size: 40px;
  }

  #sign-in-container img {
    width: 80px;
    height: 80px;
  }
}
