<div class="description-tags-container" xmlns="http://www.w3.org/1999/html">
  <div class="input-group">
    <label class="input-label">Description</label>
    <div>
      <textarea
        [(ngModel)]="description"
        (ngModelChange)="setDescription($event)"
        class="textarea-input">
      </textarea>
    </div>
  </div>

  <div class="input-group">
    <label for="event-tags" class="input-label" id="tags-event">Tags</label>
    <input
      id="event-tags"
      type="text"
      class="text-input"
      #tagInput
      (keyup.enter)="addTag(tagInput.value)">
  </div>

  <div class="tags-container">
    <div class="tags-wrapper">
      @for (tag of tags; track $index) {
        <app-tag-item
          [tag]="tag"
          [index]="$index"
          (remove)="removeTag($event)">
        </app-tag-item>
      }
    </div>
  </div>
</div>
