<main class="main d-flex align-items-center justify-content-center">
  <div class="central-card bg-white p-4">
    <div class="central-card-header d-flex flex-column align-items-center justify-content-center">
      <h1 class="fw-bolder">Basic information</h1>
      <h2 class="fw-lighter">the first step</h2>
    </div>
    <div class="central-card-center d-flex flex-column gap-5 p-3">
      <app-event-creation-second-form></app-event-creation-second-form>
      <div class="d-flex flex-column gap-1  mt-auto">
        <div class="d-flex">
          <div class="w-50 px-2">
            <app-generic-button (click)="changePage(previousStep)" text="PREVIOUS" buttonClass="transparent-button" class="w"></app-generic-button>
          </div>
          <div class="w-50 px-2">
            <app-generic-button (click)="changePage(nextStep)" text="NEXT" buttonClass="solid-button"></app-generic-button>
          </div>
        </div>
      </div>
    </div>
    <div class="central-card-footer align-content-center">
      <app-form-stepper (changePageEmitter)="changePage($event)"
                        [steps]="[
                    {step: 1, route: 'eventCreationFirst', text: 'Basic information'},
                    {step: 2, route: 'eventCreationSecond', text: ''},
                ]"
                        [currentStep]="currentStep"
      ></app-form-stepper>
    </div>
  </div>
</main>
