<main class="main">
    <div class="central-card">
      <div class="central-card-header">
        <h1>Event creation</h1>
        <h2>Who's coming?</h2>
      </div>
      <div class="central-card-center">
        <app-event-creation-second-form></app-event-creation-second-form>
        <div class="button-container">
          <div class="button-group">
            <div class="w-50">
              <app-generic-button (click)="changePage(previousStep)" text="PREVIOUS" buttonClass="transparent-button"></app-generic-button>
            </div>
            <div class="w-50">
              <app-generic-button (click)="changePage(nextStep)" text="NEXT" buttonClass="solid-button"></app-generic-button>
            </div>
          </div>
        </div>
      </div>
      <div class="central-card-footer">
        <app-form-stepper (changePageEmitter)="changePage($event)"
                          [steps]="[
                            {step: 1, route: 'eventCreationFirst', text: 'Basic information'},
                            { step: 2, route: 'eventCreationSecond', text: 'Who\'s coming?' },
                            {step: 3, route: 'eventCreationThird', text: 'What\'s it about?'}
                          ]"
                          [currentStep]="currentStep"
        ></app-form-stepper>
      </div>
    </div>
  </main>
