<article class="d-flex w-100 align-items-center border border-2 border-info rounded-3 p-3 my-3">
  <div class="w-50">
    <p class="mb-2">
      <strong class="event-name">{{ event.name }}</strong> >
      <span class="text-muted small event-description">{{ event.description }}</span>
    </p>
  </div>
  <div class="w-50 d-flex justify-content-end gap-4">
    <div class="d-flex align-items-center">
      <p class="mb-0 fs-3 fw-bold participants">{{ participantsNumber }}</p>
      <div class="d-flex flex-column align-items-center justify-content-center ms-3">
        <img [src]="participantsIcon" alt="Participants icon" class="img-fluid" style="width: 25px; height: 25px;">
        <p class="mb-0 small">participants</p>
      </div>
    </div>
    <div class="border-start border-dark mx-3" style="height: 50px;"></div>
    <div class="d-flex flex-column justify-content-center">
      <p class="mb-2 d-flex align-items-center">
        <img [src]="timeIcon" alt="Time icon" class="me-2" style="width: 20px; height: 20px;">
        <span class="event-time-text small">{{ formatEventDate(event.date) }}</span>
      </p>
      <p class="mb-0 d-flex align-items-center">
        <img [src]="locationIcon" alt="Location icon" class="me-2" style="width: 20px; height: 20px;">
        <span class="event-location-text small">{{ event.location }}</span>
      </p>
    </div>
  </div>
</article>
