<main class="main">
  <div id="first-info-container" class="first-info-container">
    <div id="description" class="description">
      <h1 class="index-title">{{ indexTitle }}</h1>
      <p class="introduction">{{ introduction }}</p>
        <app-generic-button  class="main-button" [text]="mainButtonText" routerLink="/signUpFirst"></app-generic-button>
    </div>

    <section id="main-photo-container" class="main-photo-container">
      <img [src]="mainPhoto" alt="Main image" class="main-image">
    </section>
  </div>

  <div id="see-more-button-section" class="see-more-button-section">
    <a href="#features-info-section" (click)="scrollToFeatures($event)" class="see-more-link">
      <p class="see-more-text">{{ seeMoreText }}</p>
      <img id="arrow" src="/icons/arrow.svg" alt="arrow icon" class="arrow-icon">
    </a>
  </div>

  <div id="second-info-container" class="second-info-container">
    <section id="features-info-section" class="features-info-section">
      @for (feature of features; track feature) {
      <app-feature-info
        [imageSrc]="feature.image"
        [title]="feature.title"
        [description]="feature.description">
      </app-feature-info>
      }
    </section>
  </div>
</main>
