<main class="py-5 d-flex flex-column">
  <div id="first-info-container"
       class="text-white d-flex flex-column flex-lg-row align-items-center justify-content-between mb-5">

    <div id="description" class="p-4 d-flex flex-column gap-3 w-100 w-lg-50">
      <h1 class="index-title fs-1">{{ indexTitle }}</h1>
      <p class="introduction fs-4">{{ introduction }}</p>
      <div class="d-flex justify-content-center">
        <app-generic-button [text]="mainButtonText" routerLink="/signUpFirst"></app-generic-button>
      </div>
    </div>

    <section id="main-photo-container" class="w-100 w-lg-50 d-flex justify-content-center mt-4 mt-lg-0">
      <img [src]="mainPhoto" alt="Main image" class="custom-image-style">
    </section>
  </div>

  <div id="see-more-button-section"
       class="d-flex justify-content-center align-items-center text-center position-relative" style="top: -9.25rem;">
    <a href="#features-info-section" (click)="scrollToFeatures($event)" class="text-decoration-none text-white">
      <p class="mb-0">{{ seeMoreText }}</p>
      <img id="arrow" src="/icons/arrow.svg" alt="arrow icon">
    </a>
  </div>

  <div id="second-info-container" class="d-flex justify-content-center align-items-center">
    <section id="features-info-section" class="d-flex flex-wrap flex-md-row shadow bg-white rounded p-3 mx-4 justify-content-center">
      @for (feature of features; track feature) {
        <app-feature-info
          [imageSrc]="feature.image"
          [title]="feature.title"
          [description]="feature.description">
        </app-feature-info>
      }
    </section>
  </div>
</main>
