.main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.first-info-container {
  color: white;
  display: flex;
  height: 90%;
  margin-bottom: 12.5rem;
}

.description {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  gap: 1.25rem;
}

.index-title {
  font-size: 2.5rem;
}

.introduction {
  font-size: 1.5rem;
}

.main-photo-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main-image {
  aspect-ratio: 1440 / 1080;
  filter: blur(0.5px);
  max-width: 100%;
  mask-image: radial-gradient(ellipse 69% 69% at center, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 75%);
  -webkit-mask-image: radial-gradient(ellipse 69% 69% at center, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 75%);
}

.see-more-button-section {
  display: flex;
  position: relative;
  top: -9.25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.see-more-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see-more-text {
  margin-bottom: 0;
}

.arrow-icon {
  margin-top: 0.2rem;
}

.second-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.features-info-section {
  display: flex;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.7);
  margin: 0 2.5rem;
  background: white;
  border-radius: 1.25rem;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 2rem;
  }

  .first-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 6rem;
  }

  .description {
    width: 80%;
    height: auto;
  }

  .main-photo-container {
    order: -1;
    width: 50%;
    height: auto;
  }

  .main-image {
    margin-left: 0;
  }

  .see-more-button-section {
    top: -3.5rem;
  }

  .features-info-section {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .main {
    padding: 1rem;
  }

  .first-info-container {
    margin-bottom: 4rem;
  }

  .description {
    width: 100%;
    padding: 1rem;
  }

  .main-image {
    display: none;
  }

  .see-more-button-section {
    top: 5rem;
    margin: 3rem 0;
  }

  .features-info-section {
    margin: 5rem 0;
  }
}
