.social-cards-list, .social-header-navigation {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.social-nav-text {
    transition: font-weight 0.3s ease;
    cursor: pointer;
}

.social-nav-text:hover {
    font-weight: bold;
}