.social-nav-text {
    transition: font-weight 0.3s ease;
    cursor: pointer;
}

.social-nav-text:hover {
    font-weight: bold;
}

.social-center-panel {
    width: 50%;
    transition: width 0.3s ease;
}

@media screen and (max-width: 700px)  {
    .social-center-panel {
        width: 100%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    .social-center-panel {
        width: 70%;
    }
}