<main class="main d-flex justify-content-center">
    <div class="social-center-panel d-flex flex-column overflow-hidden bg-white">
        <app-social-navigation></app-social-navigation>
        <form #usernameForm="ngForm" (ngSubmit)="search()" class="d-flex align-items-center justify-content-center p-4">
            <input name="username" [(ngModel)]="username" type="text" class="p-2 fw-lighter fs-5 flex-grow-1 form-control" placeholder="Enter username">
        </form>
        <section class="social-cards-list flex-grow-1 overflow-auto">
            @for (user of users; track user.id) {
                <app-user-card
                        [userID]="user.id!"
                        (addEmitter)="addUser($event)"
                ></app-user-card>
            }
        </section>
    </div>
</main>