<article class="user-card w-100 d-flex align-items-center p-2 px-4 gap-3">
    @defer (when user) {
        <div class="user-card-image-container overflow-hidden d-flex align-items-center justify-content-center">
            <img class="object-fit-cover w-100 h-100" [src]="user.image">
        </div>
        <div class="user-card-name flex-grow-1">
            {{ user.username }}
        </div>
    }
    <div class="user-card-icons">
        <i class="user-card-icon bi-x-circle fs-4"></i>
    </div>
</article>
