<main class="main d-flex">
    <aside class="users-list-aside bg-white overflow-auto">
        <section class="users-list">
            @for (friend of friends; track friend) {
                <app-messages-user-card
                    [userID]="friend!"
                ></app-messages-user-card>
            }
        </section>
    </aside>
    <div class="chat-container overflow-auto d-flex flex-column bg-white">
        <div class="chat-header d-flex flex-column align-items-center">
            <h1 class="fw-bolder">{{currentChatUser?.username}}</h1>
            <hr class="w-75">
        </div>
        <section #withScroll class="chat p-3 overflow-auto">
            @for (message of messages; track $index) {
                <app-message-card #item
                                  [own]="message.from === senderID"
                                  [message]="message
"></app-message-card>
            }
        </section>
        <div class="message-input-container p-4 mt-auto">
            <app-message-input (valueEmitter)="sendMessage($event)"></app-message-input>
        </div>
    </div>
</main>