.users-list-aside {
    width: 20rem;
    transition: left 0.3s ease;
}

.chat-container {
    display: flex;
    flex: 1 1 0;
}

.toggle-button {
    display: none;
    z-index: 1000;
    transition: transform 0.3s ease, left 0.3s ease;
}

@media screen and (max-width: 700px) {
    .users-list-aside {
        position: absolute;
        z-index: 5;
        height: 92%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background: transparent;
        padding-top: 2rem;
        left: -20rem;
    }

    .users-list-aside.active {
        left: 0;
    }

    .toggle-button {
        display: block;
        left: 0;
    }

    .toggle-button.active {
        left: 17rem;
        transform: rotate(-180deg);
    }
}