<header class="social-header-navigation p-3  d-flex justify-content-center">
    <nav>
        <ul class="d-flex list-unstyled gap-3">
            <li class="social-nav-text text-center"><a class="text-decoration-none text-dark" routerLink="/social">Search</a></li>
            <li class="social-nav-text text-center"><a class="text-decoration-none text-dark" routerLink="/social/friends">Friends</a></li>
            <li class="social-nav-text text-center"><a class="text-decoration-none text-dark" routerLink="/social/pending">Pending</a></li>
            <li class="social-nav-text text-center"><a class="text-decoration-none text-dark" routerLink="/social/sent_requests">Sent requests</a></li>
            <li class="social-nav-text text-center"><a class="text-decoration-none text-dark" routerLink="/social/blocked">Blocked</a></li>
            <li class="social-nav-text text-center"><a class="text-decoration-none text-dark" routerLink="/social/groups">Groups</a></li>
        </ul>
    </nav>
</header>