<main class="main">
  <div class="central-card">
    <div class="central-card-header">
      <h1>Event creation</h1>
      <h2>Basic information</h2>
    </div>
    <div class="central-card-center">
      <app-event-creation-one-form></app-event-creation-one-form>
      <div>
        <div class="w-100">
          <app-generic-button (click)="changePage(nextStep)" text="NEXT" buttonClass="solid-button"></app-generic-button>
        </div>
      </div>
    </div>
    <div class="central-card-footer">
      <app-form-stepper (changePageEmitter)="changePage($event)"
                        [steps]="[
                    {step: 1, route: 'eventCreationFirst', text: 'Basic information'},
                    { step: 2, route: 'eventCreationSecond', text: 'Who\'s coming?' },
                    {step: 3, route: 'eventCreationThird', text: 'What\'s it about?'}
                ]"
                        [currentStep]="currentStep"
      ></app-form-stepper>
    </div>
  </div>
</main>