@defer (when event) {
    <article class="event-card">
        <div class="card-header">
            <div class="header-title">
                <div class="name-group">
                    <h2>{{ event.name }}</h2>
                </div>
                <span class="creator">{{ eventCreator }}</span>
            </div>
            <div class="header-buttons">
                @if (isOwned) {
                    <button (click)="removeEvent()" class="button-container">
                        <img [src]="icons.remove" alt="Remove" class="icons-img">
                    </button>
                }
            </div>
        </div>

        <div class="card-body">
            <hr>
            <div class="body-content">
                <section class="description-section">
                    <h3>Description</h3>
                    <p>{{ event.description }}</p>
                </section>
                <section class="details-section">
                    <div class="detail-item">
                        <img [src]="icons.date" alt="Time" class="icons-img">
                        <span>{{ parseDateTimeLocal(event.date) }}</span>
                    </div>
                    <div class="detail-item">
                        <img [src]="icons.place" alt="Location" class="icons-img">
                        <span>{{ event.location }}</span>
                    </div>
                    <div class="detail-item">
                        <img [src]="icons.price" alt="Price" class="icons-img">
                        <span>{{ priceFormat() }}</span>
                    </div>
                </section>
            </div>
            <hr class="w-75">
            <div class="tags-section">
                @for (tag of event.tags; track $index) {
                    <span class="tag">{{ tag }}</span>
                }
            </div>
            <hr class="w-75">
        </div>

        <div class="card-footer">
            <div class="left-group">
                <div class="interaction-group">
                    <div class="interaction-item">
                        <button class="button-container">
                            <img (click)="toggleLike()" [src]="isLiked ? icons.filled_like : icons.like" alt="Likes" class="icons-img">
                        </button>
                    </div>
                </div>
                <div class="participants-section">
                    <div class="participants-anchor">
                        <span class="participants-count">{{ compactNumbers(event.members.length) }}</span>
                        <img [src]="icons.participants" alt="Participants">
                    </div>
                    <span class="participants-label">Participant{{ event.members.length !== 1 ? 's' : '' }}</span>
                </div>
            </div>
            <app-generic-button (click)="toggleJoin()" [text]="isJoined ? 'Leave' : 'Join'" [buttonClass]="isJoined ? '' : 'solid-button'"></app-generic-button>
        </div>
    </article>
}