.form-control:focus {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3) !important;
  border-color: transparent;
}

.form-control {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.4s ease;
}

hr {
  margin: 1rem 0;
  opacity: 1;
  height: 1px;
}
