main {
    justify-content: center;
}

.form-side {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#event-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
}

#event-form form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

#event-form-title {
    margin: 20px;
}

#event-form-title hr {
    width: 100%;
}

#event-form-container {
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

#event-form input {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 20px;
    border: none;
    outline: none;
    transition: box-shadow 0.4s ease;
}

#event-form input:focus {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

#event-form input[type="checkbox"] {
    width: 18px;
    height: 18px;
    box-shadow: none;
    margin: 30px 10px;
}

#event-form label {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

#user-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#members-list-section {
    overflow-y: auto;
    flex: 1 1 0;
}

#user-list-container button {
    background: transparent;
    box-shadow: none;
}

#event-form textarea {
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: box-shadow 0.4s ease-in-out;
}

#event-form textarea:focus {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

#privacy-container {
    display: flex;
    align-items: center;
}

#submit_button {
    cursor: pointer;
    background: linear-gradient(90deg, #006D77, #23CFA7);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    margin-top: auto;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#submit_button:hover {
    background: linear-gradient(90deg, #23CFA7, #006D77);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


#tags-container {
    margin-bottom: 10px;
    overflow-y: auto;
    width: 100%;
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-content: flex-start;
}
