#event-form form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-side {
    width: 50%;
}

#event-form  input {
    margin: 10px 0;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}

#event-form input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#event-form input:not(input[type=checkbox]) {
    width: 90%;
}

#event-form textarea {
    width: 90%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}

#event-form label {
    margin-right: 5px;
    font-size: 1.4em;
}

#privacy-container {
    display: flex;
    align-items: center;
}

#event-form textarea {
    margin: 10px 0;
}
#event-form hr {
    width: 99%;
}
#event-form button {
    cursor: pointer;
    background: linear-gradient(90deg, #006D77, #23CFA7);
    border: none;
    border-radius: 5px;
    color: white;
    width: 91%;
    font-size: 18px;
    padding: 15px 40px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#tags-container {
    height: 80px;
}

#number-words-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -10px;
    width: 92%;
}

#number-words {
    color: gray;
}