main {
    justify-content: center;
}

#event-form form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

#event-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
    max-height: calc(100vh - 40px);
}

#event-form-title {
    width: 100%;
    margin: 20px;
}

#event-form-container {
    flex: 1;
    display: flex;
    box-sizing: border-box;
}

#event-form input {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 20px;
    border: none;
    outline: none;
}

#event-form input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#event-form label {
    display: flex;
    flex-direction: column;
}

#event-form input[type="checkbox"] {
    width: 18px;
    height: 18px;
    box-shadow: none;
}

#user-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#members-list-section {
    overflow-y: auto;
    flex: 1 1 0;
}

.form-side {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#user-list-container button {
    padding: 0;
    background: transparent;
    box-shadow: none;
    width: auto;
}

#event-form textarea {
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}

#event-form label {
    margin-right: 5px;
    font-size: 1.4em;
}
#privacy-container {
    display: flex;
    align-items: center;
}

#event-form hr {
    width: 99%;
}

#submit_button {
    cursor: pointer;
    background: linear-gradient(90deg, #006D77, #23CFA7);
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    margin-top: auto;
}

#number-words-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -10px;
    width: 92%;
}

#number-words {
    color: gray;
}
