.participants-section {
    margin-top: 0;
    margin-right: 0;
    width: 100%;
}

.tags-section {
    width: 100%;
}

.see-less-button {
    background: none;
    border: none;
    color: #888;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
}