footer {
    font-family: "League Spartan", serif;
    justify-items: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    width: 100%;
    bottom: 0;
    position: sticky;
}

footer p {
    margin: 25px;
}