html body {
    margin: 0;
}

* {
    font-family: "League Spartan", sans-serif;
}

label {
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 5px;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

label span {
    margin-left: 5px;
}

section p {
    font-size: 40px;
    font-weight: bold;
}