.generic-input-label {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.generic-input {
    margin-top: 5px;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.generic-input-label span {
    margin-left: 5px;
}