.generic-input-label {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.generic-input {
    margin-top: 5px;
    padding: 15px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    transition: box-shadow 0.4s ease;
}

.generic-input:focus {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.generic-input-label span {
    margin-left: 5px;
}