header {
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    position: sticky;
    top: 0;
}

header img {
    margin: 10px 20px 10px 20px;
}

header nav {
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
    cursor: pointer;
}

header button {
    font-weight: bold;
    padding: 10px 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 4px solid #23CFA7;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: 25px;
}