#message-input {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    padding: 20px 100px 20px 20px;
    width: 100%;
    border: none;
    outline: none;
}

#message-form {
    position: relative;
    display: flex;
    align-content: center;
    width: 70%;
}

#message-utilities {
    position: absolute;
    display: flex;
    right: 0;
    justify-items: center;
    margin: 0;
    height: 100%;
}

#message-utilities hr {
    width: 1px;
}

#message-utilities-icons {
    align-content: center;
    padding: 0;
    margin: 0 20px;
}

#message-utilities-icons img {
    width: 20px;
    height: 20px;
}
#message-utilities button {
    border: none;
    background: transparent;
    cursor: pointer;
}