.message {
    display: flex;
    margin: 5px 2%;
}

.self-message {
    display: flex;
    justify-content: flex-end;
}

.self-message .message-content{
    max-width: 40%;
    word-wrap: break-word;
}

.self-message button {
    display: none;
}

.message-content {
    border: 3px solid #23CFA7;
    border-radius: 10px;
    align-content: center;
    padding: 1%;
}

.message-content p {
    font-size: 0.8rem;
    font-weight: lighter;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.report-button {
    border: none;
    background: transparent;
    margin: 10px;
    cursor: pointer;
    padding: 0;
}

.report-button img {
    width: 14px;
    height: 14px;
}