#message_input {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 30px 155px 30px 30px;
    font-size: 20px;
    width: 100%;
}

#message_form {
    position: relative;
    display: inline-block;
    width: 1245px;
}

#messages_utilities_icons {
    align-content: center;
    margin: 0 20px;
}

#message_utilities {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

#message_utilities hr {
    height: 70px;
    right: 100px;
}

#message_utilities button {
    border: none;
    background: transparent;
    cursor: pointer;
}