.message {
    display: flex;
    margin: 5px 2%;
}

.self-message button {
    display: none;
}

.message-content {
    border: 3px solid #23CFA7;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    padding: 1%;
}

.message-content span {
    font-size: 0.8rem;
    font-weight: lighter;
}

.report-button {
    border: none;
    background: transparent;
    margin: 10px;
    cursor: pointer;
    padding: 0;
}

.report-button img {
    width: 14px;
    height: 14px;
}