.circle-container {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background: white;
    padding: 30px;
    text-align: center;
}

#reset-password-container h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 5px 0 30px;
    line-height: 1;
    text-align: center;
}

label{
    width: 60%;
}

.info {
    font-size: 15px;
    color: #ccc;
    margin: 5px 0 25px;
}

input[type="email"]{
    color: grey;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    text-align: center;
    box-shadow: none;
    transition: box-shadow 0.4s ease;
}

.message, .custom_link {
    margin-top: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

.custom_link > strong {
    font-weight: bold;
}

.custom_link :hover {
    text-decoration: underline;
}

.btn-send{
    background: linear-gradient(90deg, #23CFA7, #006D77);
    color: white;
    padding: 15px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.btn-send:hover {
    text-decoration: underline;
}
