.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group .subinput-group {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    background: #fff;
    gap: 8px;
}

.input-group img {
    width: 20px;
    height: 20px;
}

.input-group input {
    width: 100%;
    padding: 0;
    border-radius: 0;
    font-size: 0.75rem;
    text-align: left;
    box-shadow: none;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background: #ddd;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
}

#upload-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploaded-img-container {
    overflow: hidden;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

#uploaded-img {
    height: 100%;
    width: auto;
}

#password-strength {
    height: 5px;
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
}

#confirm-strength {
    height: 100%;
    width: 0;
    background-color: red;
}

label {
    font-size: 1rem;
}
