body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin: 0;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group .subinput-group {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    background: #fff;
    gap: 8px;
}

.input-group img,
.subinput-group img {
    width: 20px;
    height: 20px;
}

.input-group input,
.subinput-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
    font-size: 10px;
    text-align: left;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background: #ddd;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
}

.input-group input[type="text"][onfocus="this.type='date']"] {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#profilephoto {
    width: 150px;
    height: 150px;
}

.file-input {
    display: none;
}

.file-label {
    cursor: pointer;
    padding: 2px;
    background-color: #cccccc;
    color: black;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    flex-grow: 1;
    min-width: 50px;
    max-width: 100px;
}

#uploadphoto {
    width: 15px;
}

label {
    display: flex;
    align-items: flex-start;
    background: #fff;
    text-align: justify;
    margin-bottom: 10px;
}

.terms {
    margin-right: 5px;
    transform: scale(1.2);
    accent-color: #555555;
    cursor: pointer;
}

label:hover {
    background: #f9f9f9;
    transition: background 0.3s ease-in-out;
}