.social_navigation {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    justify-items: center;
}

.social_navigation li {
    list-style: none;
    cursor: pointer;
}

.social_navigation ul {
    padding: 20px;
    display: flex;
    gap: 30px;
}