.social-navigation {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    justify-items: center;
    background: white;
    padding: 10px 100px;
}

.social-navigation li {
    list-style: none;
    cursor: pointer;
}

.social-navigation ul {
    padding: 20px;
    display: flex;
    gap: 30px;
}