.tag {
    background-color: #f0faf9;
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.tag button {
    display: flex;
    align-items: center;
    padding: 0;
    background: transparent;
    box-shadow: none;
    width: auto;
    border: none;
    margin-right: 3px;
}

.tag img {
    width: 20px;
    height: 20px;
}

.tag p {
    font-size: 14px;
    font-weight: lighter;
    margin: 5px;
}

.interacive {
    margin: 2px;
}