.tag {
    display: flex;
    border: 2px solid #23CFA7;
    border-radius: 10px;
    font-size: 5px;
    margin: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.tag button {
    display: flex;
    align-items: center;
    padding: 0;
    background: transparent;
    box-shadow: none;
    width: auto;
    border: none;
    margin-right: 3px;
}

.tag img {
    width: 20px;
    height: 20px;
}

.tag p {
    font-size: 14px;
    font-weight: lighter;
    margin: 5px;
}