.social-card {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 1rem 3rem;
    background: white;
    border-radius: 10px;
    margin: 0.3rem;
}

.social-card:hover {
    background: #f8f8f8;
}

#social-header {
    width: 100%;
}

.social-card a, p {
    margin: 0 5%;
}

.social-card-icons-container a {
    margin: 0;
}

.social-card-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 4px solid black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0;
    overflow: hidden;
}

.social-card-photo-container img {
    width: 100%;
    height: 100%;
}

.social-card-icons-container {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    height: 50%;
}

.social-card-icons-container img {
    height: 100%;
}

.social-card button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
