.user_social {
    padding: 20px 90px 20px 90px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 0;
}

.user_social a {
    margin: 0 70px 0 70px;
}

.user_social img {
    margin: 10px 10px 10px auto;
}

.user_squared_photo {
    border: 4px solid #23CFA7;
    border-radius: 20px;
    width: 74px;
    height: 74px;
}

.user_squared_photo img {
    margin: 0;
}

.user_social_icons {
    margin-left: auto;
}

.user_social button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}