.user-chat {
    padding: 5% 5%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 0;
}

.user-chat a {
    margin: 0 10px;
}

.user-chat-photo-container {
    align-items: center;
    justify-content: center;
    display: flex;
    outline: 2px solid #23CFA7;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.user-chat-photo-container img {
    width: 40px;
    height: 40px;
}

.user-chat-icons-container {
    margin-left: auto;
}

.user-chat-icons-container img {
    width: 30px;
    height: 30px;
}

.user-chat button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}