.user-social {
    padding: 20px 90px 20px 90px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.user-social:hover {
    transform: scale(1.05);
    box-shadow: none;
}

.user-social a, p {
    margin: 0 70px 0 70px;
}

.user-social-icons a {
    margin: 0;
}

.user-squared-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #23CFA7;
    border-radius: 20px;
    width: 74px;
    height: 74px;
    padding: 0;
}

.user-squared-photo img {
    width: 74px;
    height: 74px;
}

.user-social-icons {
    margin-left: auto;
    gap: 10px;
    display: flex;
}

.user-social-icons img {
    width: 35px;
    height: 35px;
}

.user-social button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}