<main class="main d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column w-50 overflow-hidden bg-white h-100">
        <div class="social-header-container">
            <app-social-navigation></app-social-navigation>
            <div class="social-header-information  d-flex justify-content-center p-5"><h1>{{ blocked.length > 0 ? blocked.length + ' users blocked' : 'None' }}</h1>
            </div>
        </div>
        <section class="social-cards-list flex-grow-1 overflow-auto">
            @for (user of blocked; track user) {
                <app-blocked-card
                        [userID]="user"
                        (unblockEmitter)="unblockUser($event)"
                ></app-blocked-card>
            }
        </section>
    </div>
</main>